{% extends 'layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container" style="height:2000px">
    <div style="width: 50rem; margin-left: 150px;color:red; margin-top:50px; margin-right: 30px;">
    <div style="display: block; margin-left: 60px; ">
        <img src="{% static 'image/logo.jpg' %}" style="width: 70rem; margin-left: -250px; margin-top:50px; height:500px">
    </div>
</div>

<div class="card" style="width:1500px; border-radius:50px; margin-top:50px; margin-left:10px">
    <h1 style="width:205px; margin-top:50px; margin-left:80px; color:orange"> Thousands of goods are waiting for you! </h1>
    <div style="display: flex; margin-left: 60px; ">
        <img src="{% static 'image/Infinix Note 7.jpeg' %}" style="width: 15rem; margin-left: 450px; margin-top:-250px; height:300px; border-radius:50px">
        <a href="#" style="margin-left:-650px; margin-top:30px" ><input type="button" class="btn btn-primary" value="See more"></a>
    </div>
    </div>

<div class="jumbotron" style="width:1000px; margin-left:50px; margin-top:50px">
    <center><h3 style="width:inherit; margin-top:-50px; margin-left:80px; color:orange"> Popular Categories </h3></center>
    <center><hr style="height:2px; width:90px; background-color:black; margin-left:450px"></center>
   <div style="display:flex; justify-content:space-around">
    <div style="width:850px; background-color:pink;margin-left:-20px; height:150px"> <h3 style="margin-top:50px; margin-left:40px; color:black">Food Stuff</h3> </div>
    <div style="width:850px; background-color:cyan; margin-left:10px; height:150px"><h3 style="margin-top:50px; margin-left:57px; color:black">Phone </h3> </div>
    <div style="width:850px; background-color:pink;margin-left:10px; height:150px"><h3 style="margin-top:50px; margin-left:46px; color:black">Electronics </h3></div>
    <div style="width:850px; background-color:cyan;margin-left:10px; height:150px"><h3 style="margin-top:50px; margin-left:8px; color:black">Home/Appliance</h3></div>
</div>
    </div>


<div style="width:1000px; margin-left:50px; margin-top:50px">
    <h2 style="margin-top:40px; color:blue"> Live Auctions </h2>
    <div style="background-color:silver">
    <div style="background-color:gray;width:55px; margin-top:50px"><h3 style=" color:blue"><a href="#" style=" color:blue"> N50 </a></h3></div>
   <div style="display:flex; justify-content:space-around">
    <div ><img src="{% static 'image/Infinix Note 7.jpeg' %}" style="width:230px; background-color:pink;margin-left:15px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:40px; color:gray">Infinix Note 7</h4> <h6 style="margin-left:40px; color:grey">Retail Price: N89,500</h6></div>
       <div ><img src="{% static 'image/Infinix Note 7 lite.jpeg' %}" style="width:230px; background-color:pink;margin-left:-10px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:40px; color:gray">Infinix Note 7 lite</h4> <h6 style="margin-left:30px; color:grey">Retail Price: N67,000</h6></div>
       <div ><img src="{% static 'image/Hot9.jpeg' %}" style="width:230px; background-color:pink;margin-left:-15px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:40px; color:gray">Infinix Hot9 </h4> <h6 style="margin-left:30px; color:grey">Retail Price: N60,000</h6></div>
       <div ><img src="{% static 'image/Infinix S5 Pro.jpeg' %}" style="width:220px; background-color:pink;margin-left:-10px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:40px; color:gray">Infinix S5 Pro</h4> <h6 style="margin-left:30px; color:grey">Retail Price: N71,000</h6></div>
</div>
        <div style="display:flex; justify-content:space-around">
    <div ><img src="{% static 'image/Tecno Spack 5 Air.jpeg' %}" style="width:230px; background-color:pink;margin-left:15px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:20px; color:gray">Tecno Spack 5 Air</h4> <h6 style="margin-left:40px; color:grey">Retail Price: N51,000</h6></div>
       <div ><img src="{% static 'image/Tecno Camon 15.jpeg' %}" style="width:230px; background-color:pink;margin-left:-2px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:20px; color:gray">Tecno Camon 15</h4> <h6 style="margin-left:30px; color:grey">Retail Price: N70,000</h6></div>
       <div ><img src="{% static 'image/rice.jpeg' %}" style="width:230px; background-color:pink;margin-left:-2px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:20px; color:gray">Bag of rice 50kg (X3)</h4> <h6 style="margin-left:30px; color:grey">Retail Price: N23,500</h6></div>
       <div ><img src="{% static 'image/logo.jpg' %}" style="width:220px; background-color:pink;margin-left:-15px; margin-top:10px; height:200px">
        <h4 style="margin-top:10px; margin-left:20px; color:gray">Nike Airforce one</h4> <h6 style="margin-left:30px; color:grey">Retail Price: N27,000</h6></div>
</div>
   </div>
</div>

    </div>
<div class="container" style="height:20rem"></div>
{% endblock %}
</body>
</html>